@tailwind base;
@tailwind components;
@tailwind utilities;

/* degradado pantalla de login */
.fondo_degradado {
    @apply bg-gradient-to-tl from-verde to-dorado;
}

/* inputs de login */
.input_login {
    @apply bg-trasnparente_botones placeholder:text-white text-white pl-11;
}

/* iconos de login */
.ic_login {
    @apply absolute mr-10 ml-2 mt-1 w-8 h-8;
}

/* formulario bienes_servicios */
/* degradado para formulario */
.fondo_deg_formulario {
    @apply h-10 bg-gradient-to-r from-verde to-dorado;
}

/* botones adquisicion bienes_servicios:
 guardar, enviar para VoBo y cancelar */
.btn_bienes_servicios {
    @apply text-white font-bold py-2 px-4 mx-1 rounded-md;
}

/* input_justificacion */
.input_justificacion {
    @apply bg-blanco text-textos_generales rounded-md w-1/2;
    border: 1px solid #62836C;
    appearance: none;
}

.input_file {
    @apply file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold
    file:bg-dorado file:text-white text-dorado my-3 hover:bg-gray-100;
}

.btn_eliminar_lista {
    @apply text-rojo italic;
}

/* componenetes generales */
label {
    @apply text-textos_generales;
}

h1 {
    @apply text-verde text-xl font-bold;
}

h2 {
    @apply font-semibold text-xl text-verde leading-tight;
}

h3 {
    @apply text-dorado font-bold;
}

a {
    @apply text-red-700;
}

p {
    @apply text-textos_generales;
}

li {
    @apply italic;
}

select {
    @apply bg-blanco text-textos_generales rounded-md;
    border: 1px solid #62836C;
    appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    @apply text-verde outline-none rounded-full;
}

/* componentes generales FOCUS */
select:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border-color: #62836C;
    box-shadow: 0 0 0 0px;
    outline: none;
}